* {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

body, .comic nav {
  background-color: white !important;
  color: black !important;
}

.comic article {
  text-align: center;
}

.comic article img {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.comic article br {
  display: none;
}

.comic nav {
  text-align: center;
  white-space: nowrap;
}

.doors section {
  text-align: center;
  margin: 70px auto;
  width: 712px;
}

.doors h2 {
  text-transform: uppercase;
}

#hallways p a {
    padding: 0 3px;
}



body.zzt {
  background-color: black !important;
  color: white !important;
  font-family: monospace;
  text-align: left;
}

body.zzt > *, body.chips > * {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

body.zzt a {
  background-color: black !important;
  color: white !important;
  text-decoration: underline;
}

body.zzt > .zeta, body.chips > .dosbox {
  margin: 8em 0;
  text-align: center;
  max-width: none;
}

body.chips > .dosbox {
  margin: 8em 0 3em 0;
}



body.chips {
  background-color: #c3c3c3 !important;
  color: black !important;
  text-align: center;
}

body.chips a {
  text-decoration: underline;
}

body.chips > p {
  margin: 2em auto;
}

body.chips img.icon {
  padding-right: 0.7em;
  vertical-align: middle;
}

body.chips > .showable {
  text-align: center;
  max-width: none;
}

body.chips .levelnum {
    font-variant: all-small-caps;
}



.showable {
  margin: 1em 0;
}

.zzt .showable input {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.zzt .showable input::after {
  display: inline;
  content: " [+] ";
  background: black;
  color: white;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
}

.zzt .showable input:checked::after {
  content: " [-] ";
}

.showable .content {
    display: none;
}

.showable input:checked ~ label ~ .content {
    display: block;
}

.showable > label {
  cursor: pointer;
}

.showable > .full-width {
    text-align: center;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.seeklinks {
    list-style-type: none;
    padding: 0;
}

.seeklinks a {
    cursor: pointer;
}
